body {
  margin: 0px;
  width: 100vw;
  height: 90vh;
}

#root {
  height: 100%;
}

.leaflet-container {
  cursor: pointer !important;
}

.map {
  height: 100%;
  z-index: 1;
}

.leaflet-heatmap-layer {
  z-index: 2;
}

.navbar {
  margin-bottom: 0;
  
  border: 0;
  font-size: 22px !important;
  line-height: 2.0 !important;
  letter-spacing: 5px;
  border-radius: 0;
}

 .navbarbrand {
  background-color: transparent;
  color: #fff;
}

.Priority {
  
  position: absolute;
  font-family: "Century Gothic", sans-serif;
  letter-spacing: 1px;
  font-size: 16px !important;
  top: 10px;
  left: 50px;
  z-index: 999;
  color: gray;
}

.Asset {
  
  position: absolute;
  font-family: "Century Gothic", sans-serif;
  letter-spacing: 1px;
  font-size: 16px !important;
  top: 10px;
  left: 150px;
  z-index: 999;
  color: gray;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
}

.Zone {
  
  position: absolute;
  font-family: "Century Gothic", sans-serif;
  letter-spacing: 1px;
  font-size: 16px !important;
  top: 10px;
  left: 230px;
  z-index: 999;
  color: gray;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
}

.Type {
  
  position: absolute;
  font-family: "Century Gothic", sans-serif;
  letter-spacing: 1px;
  font-size: 16px !important;
  top: 10px;
  left: 310px;
  z-index: 999;
  color: gray;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
}

.custommenu {
  position: absolute;
  font-family: "Century Gothic", sans-serif;
  letter-spacing: 1px;
  z-index: 1000;
  color: gray;
  width: auto;
  color: gray;
  padding: 10px;
  font-size: 14px !important;
}


.priorityHeader {
  font-family: "Century Gothic", sans-serif;
}

/* .latlng {
  position: absolute;
  font-family: "Arial", sans-serif;
  left: 100px;
} */

.mouseposition {
  background-color: rgba(255, 255, 255, 0.5);
}

.satellite {
  position: absolute;
  bottom: 70px;
  left: 10px;
  z-index: 999;
}

.position {
  position: absolute;
  bottom: 5px;
  left: 110px;
  z-index: 999;
}



.displaytype {
  font-size: 18px !important;
  left: 50px;
}

.message {
  color: red;
}

.aboutModal {
  margin: 10x;
  font-family: "Century Gothic", sans-serif;
}

.termsModal {
  margin: 10x;
  font-family: "Century Gothic", sans-serif;
}

.navdropdown {
  font-size: 22px !important;
}

.navdropdownitem {
  font-size: 18px !important;
}

.dropdown{
  z-index: 1000;
}

.title {
  /* width: 100%; 
  overflow: hidden; */
  display: flex;
}

.titleLeft {
  width: 400px;
  /* float: left; */
}

.titleRight {
  flex-grow: 1;
 
}

.clear {
  position:absolute;
  left: 18px;
  bottom: 18px;

}

.select {
  position:absolute;
  left: 130px;
  bottom: 18px;

}

.popup {
  width: 200px;
}

.thumbnail {
  height: 77px;
  width: 103px;
}

.container {
  float: right;
}

.text {
  float: left;
}

.photo {
  height: 648px;
  width: 1000px;
}

.photoModal {
  height: 648px;
  width: 1037px;
}

.leftArrow {
  position: absolute;
  height: 64px;
  width: 64px;
  left: 55px;
  bottom: 275px;
}
.rightArrow {
  position: absolute;
  height: 64px;
  width: 64px;
  right: 25px;
  bottom: 275px;


}



