body {
  margin: 0px;
  width: 100vw;
  height: 90vh;
}

#root {
  height: 100%;
}

.map {
  height: 100%;
  z-index: 1;
}

.leaflet-heatmap-layer {
  z-index: 2;
}

.navbar {
  margin-bottom: 0;
  
  border: 0;
  font-size: 22px !important;
  line-height: 2.0 !important;
  letter-spacing: 5px;
  border-radius: 0;
}

 .navbarbrand {
  background-color: transparent;
  color: #fff;
}

.priority {
  
  position: absolute;
  font-family: "Century Gothic", sans-serif;
  letter-spacing: 1px;
  font-size: 16px !important;
  top: 10px;
  left: 50px;
  z-index: 999;
  color: gray;
}

.priorityHeader {

  font-family: "Century Gothic", sans-serif;
}

.satellite {

  position: absolute;
  bottom: 50px;
  left: 50px;
  z-index: 999;

}

.displaytype {
  font-size: 18px !important;
  left: 50px;
}

.message {
  color: red;
}

.aboutModal {
  margin: 10x;
  font-family: "Century Gothic", sans-serif;
}

.termsModal {
  margin: 10x;
  font-family: "Century Gothic", sans-serif;
}

.navdropdown {
  font-size: 22px !important;
}

.navdropdownitem {
  font-size: 18px !important;
}

.dropdown{
  z-index: 1000;
}

.title {
  /* width: 100%; 
  overflow: hidden; */
  display: flex;
}

.titleLeft {
  width: 400px;
  /* float: left; */
}

.titleRight {
  flex-grow: 1;
 
}

.clear {
  position:absolute;
  left: 18px;
  bottom: 18px;

}

.select {
  position:absolute;
  left: 130px;
  bottom: 18px;

}

.popup {
  width: 200px;
}

.thumbnail {
  height: 77px;
  width: 103px;
}

.container {
  float: right;
}

.text {
  float: left;
}

.photo {
  height: 648px;
  width: 1000px;
}

.photoModal {
  height: 648px;
  width: 1037px;
}

/* .photoBodytr{
  height: 648x;
  width: 900px;
} */

/* .prev {
  float: left;
  position:absolute;
  left: 450px;
  top: 880px;
} */

.next {
  /* position:absolute;
  left: 550px;
  top: 880px; */
}



