
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    padding: 20px;
  }
 
  .gradediv {
    position: absolute;
    width:50%;
    height:33%; 
  }

  .g1div {
    position: absolute;
    left: 50%;
    width:50%;
    height:33%; 
  }

  .g2div {
    position: absolute;
    bottom: 5%;
    width:50%;
    height:33%; 
  }

  .g3div {
    position: absolute;
    bottom: 5%;
    left: 50%;
    width:50%;
    height:33%; 
  } 

