.videoModal {
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 90%;
    position: absolute;
    right: 0%;
    top: 0%;
    padding-left: 2px;
    background-color: black;
    
  }
  
  .videoProgress {
    width: 100%;

  }

  .container-play {
    display: flex;
    flex-direction: row;
    margin-left:42%;
  }

  .video {
    height: 80%;
    width: 100%;
  }

  .controls {
    height: 30%;
  }


.sidetext {
  position: absolute;
  width: 30%;
  height: 100%;
  padding: 15px;
  margin-left: 15%;
  font-size: 14px;
}

.controls-fastforward  {
  margin-top: 10px;
  height: 30px;
  width: 35px;
  margin-right: 45%;
}

.controls-fastrewind  {
  margin-top: 10px;
  height: 30px;
  width: 35px;
  color: white;
} 

.controls-stop, .controls-play {
  height: 50px;
  width: 50px;
}

  