.videoModal {
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 90%;
    position: absolute;
    right: 0%;
    top: 0%;
    padding: 2px;
    background-color: black;
    
  }
  
  .videoProgress {
    width: 100%;

  }

  .video {
    height: 90%;
  }

  .image {
    height: 100%;
    width: 100%;
  }

.sidetext {
  position: absolute;
  width: 30%;
  height: 100%;
  padding: 15px;
  margin-left: 15%;
  font-size: 14px;
}

.container-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-shrink: 2;
}

.container-controls > div { 
  padding: 2px;
  height: 100%;
}

.controls-fastforward  {
  height: 30px;
  width: 35px;
}

.controls-fastrewind  {
  height: 30px;
  width: 35px;
} 

.controls-stop, .controls-play {
  height: 48px;
  width: 48px;
}

.controls-action {
  display: flex;
  flex-shrink: 3;
}
