body {
  margin: 0px;
  width: 100vw;
  height: 90vh;
}

#root {
  height: 100%;
}

.map {
  height: 100%;
  z-index: 1;
}

.navbar {
  margin-bottom: 0;
  
  border: 0;
  font-size: 22px !important;
  line-height: 2.0 !important;
  letter-spacing: 5px;
  border-radius: 0;
}

 .navbarbrand {
  background-color: transparent;
  color: #fff;
}

.satellite {

  position: fixed;
  
  float: bottom;
  bottom: 50px;
  left: 50px;
  z-index: 999;
  float: left;

}

.displaytype {
  font-size: 18px !important;
  left: 50px;
}

.aboutModal {
  margin: 10x;
  font-family: "Century Gothic", sans-serif;
}

.termsModal {
  margin: 10x;
  font-family: "Century Gothic", sans-serif;
}

.navdropdown {
  font-size: 22px !important;
}

.navdropdownitem {
  font-size: 18px !important;
}

.dropdown{
  z-index: 1000;
}

.title {
  /* width: 100%; 
  overflow: hidden; */
  display: flex;
}

.titleLeft {
  width: 400px;
  /* float: left; */
}

.titleRight {
  flex-grow: 1;
 
}


.popup {
  width: 200px;
}

.thumbnail {
  height: 77px;
  width: 103px;
}

.photo {
  height: 770px;
  width: 1026px;
}

.prev {
  position:absolute;
  left: 450px;
  top: 880px;
}

.next {
  position:absolute;
  left: 550px;
  top: 880px;
}

/* .footer {
  height: 10vh;
} */


