
.layercard-body {
    font-family: "Century Gothic", sans-serif;
    font-size: 16px !important;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2, auto);
    grid-auto-rows: minmax(5px, auto);
    padding: 5px;   
  }

  .layercard-label {
    font-family: "Century Gothic", sans-serif;
    margin-right: 5px;
    font-size: 14px !important;
    white-space: nowrap; 
    grid-column: 1 / 2;
    grid-row: 2;
    padding: 5px;   
 }
  
  .layercard-title {
    font-family: "Century Gothic", sans-serif;
    font-size: 14px !important;
    padding: 3px;
  }

  .layercard-priorityDropdown {
    grid-column: 1 / 2;
    grid-row: 1;
    padding: 1px;
  }


.layercard-classDropdown {
    grid-column: 2 / 2;
    grid-row: 1;
    padding: 1px;
}

.layercard-datainput {
  grid-column: 1 / 2;
  grid-row: 2;
  padding: 1px;
}

.layercard-videoinput {
  
  grid-column: 1 / 2;
  grid-row: 2;
  padding: 1px;
}

